.button_primary
    display: inline-block
    background: $primary_color
    border: 1px solid $primary_color
    color: #FFF
    text:
        align: center
        transform: uppercase
    font: 
        family: $bold
        size: em(16)
    letter-spacing: 2px
    padding: 
        left: 10%
        right: 10%
    border-radius: 0px
    transition: all 0.3s linear
    &:hover
        background: #FFF
        color: $primary_color
        text-decoration: none
    &:focus
        outline: none
        
.button_gray
    background: #e7e7e7
    text:
        align: center
        transform: uppercase
    font: 
        family: $bold
        size: em(16)
    color: $black
    border-radius: 0px
    letter-spacing: 2px
    border: 1px solid $gray
    transition: all 0.3s linear
    &:hover 
        background: #FFF
        
.input_text 
    font:
        family: $fira
        size: em(16)
        weight: 300
    text-align: center
    border-width: 0px 0px 1px 0px
    margin-bottom: 35px
    border-color: $gray
    line-height: 1.9
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    border-radius: 0px

.onsale
    z-index: 10
    position: absolute
    right: 0px
    left: inherit
    top: 0px
    border-radius: 0px
    width: 0
    height: 0
    border-left: 70px solid transparent
    border-right: 70px solid transparent
    border-bottom: 70px solid #ff0000
    background: transparent
    padding: 0px
    transform: rotate(45deg)
    transform-origin: 75% 120%
    @include breakpoint(sm_pc)
        border-width: 45px
    span
        color: #FFF
        text:
            transform: uppercase
            align: center
        font: 
            family: $bold
            size: 12px
            weight: normal
        letter-spacing: 2px
        display: inline-block
        position: relative
        top: 40px
        left: -30px
        @include breakpoint(sm_pc)
            font-size: 9px
            left: -25px
            top: 25px
        @include breakpoint(mobile)
            left: -25px
            top: 25px